body {
  margin: 0 auto;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 85%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.mainContent {
  min-height: 400px;
}
.mainContent  input[type="text"]{
  padding: 20px;
  width: 200px;
}

.employeeRender {
  width: 80%;
  margin: 0 auto;
  padding-left: 0;
}

.employeeContainer {
  display: flex;
  width: 100%;
  flex-wrap: wrap; 
}

.employeeView {
  display: block;
  margin: 10px;
  color: rgb(50, 52, 52);
  box-shadow: 0px 0px 5px #ddd;
  background-color: rgb(197, 212, 213);
  border-radius: 10px;  
  line-height: 50px;
  text-decoration: none;
  overflow: hidden;
  padding-bottom: 5px;
  flex-basis: 30%;
}

.employeeView p{
  text-align: center;
  margin: auto;
  padding: 10px;
  font-size: 20px;
  line-height: 30px;
  min-height: 50px; 
  max-height: 80px;
  word-wrap: break-word;
}

.employeeView img{
  max-height: 100px;
}