body {
  margin: 0 auto;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 85%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.mainContent {
  min-height: 400px;
  color: antiquewhite;
}
.mainContent  input[type="text"]{
  padding: 20px;
  width: 200px;
  border-radius: 15px;
  background-color: #eee7e7;
}

.employeeRender {
  width: 80%;
  margin: 0 auto;
  padding-left: 0;
}

.employeeContainer {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}

.employeeView {
  display: block;
  margin: 10px;
  color: rgb(50, 52, 52);
  box-shadow: 0px 0px 5px #ddd;
  background-color: rgb(197, 212, 213);
  border-radius: 10px;  
  line-height: 50px;
  text-decoration: none;
  overflow: hidden;
  padding-bottom: 5px;
  flex-basis: 30%;
}

.employeeView p{
  text-align: center;
  margin: auto;
  padding: 10px;
  font-size: 20px;
  line-height: 30px;
  min-height: 50px; 
  max-height: 80px;
  word-wrap: break-word;
}

.employeeView img{
  max-height: 100px;
}

.taskContainer{
  width: 100%;
}

.mainContent hr ,
.taskContainer hr {
  margin: 20px;
}

.task h6 {
  display: contents;
}

.taskContainer input[type="text"],
.task h6 {
  width: 50%;
  height: 35px;
  border-radius: 10px;
}

.taskContainer input[type="submit"],
.task button {
  width: 10%;
  margin: 10px;
  height: 35px;
  border: 1px solid green;
  background-color: greenyellow;
  border-radius: 10px;
  opacity: 0.7;
  font-size: 15px;
  font-weight: bold;
}

.task button {
  max-width: 25px;
  height: 20px;
  border-radius: 90%;
  transition: all 300ms;
}

.task button:hover {
  max-width: 50px;
  color: red;
  border-radius: 50%;
}

.taskContainer input[type="submit"]:hover,
.task button:hover {
  opacity: 1;
  cursor: pointer;
}

@media only screen and (max-width: 600px) {

.employeeView {
  flex-basis: 100%;
}
  .employeeView img{
    max-height: 80px;
  }
}